.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);//
}

.fancy-card:hover .delete-btn {
  color: white;
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 10px;
}

.delete-btn:hover{
 color:red !important;
}

.fancy-card .shading {
  background-color: hsla(0, 2%, 33%, 0.5);
}

.crew {
  background: linear-gradient(rgba(164, 194, 249, 1), rgba(164, 194, 249, 0.4)) !important; 
}
.plane {
  background: linear-gradient(rgba(204, 85, 0, 1), rgba(204, 85, 0, 0.4)) !important; 
}
.airport {
  background: linear-gradient( rgba(42, 92, 158, 0.4), rgba(42, 92, 158, .8)) !important; 
}

.fancy-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: .5rem;
}

.fancy-card .card-title {

  text-align: center;
  font-size: 1.5rem;
}

.fancy-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.fancy-card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.fancy-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.fancy-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.fancy-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.fancy-card .additional .user-card .level,
.fancy-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.fancy-card .additional .user-card .points {
  top: 85%;
}

.fancy-card .additional .user-card svg {
  top: 50%;
}

.fancy-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.fancy-card .additional .more-info .card-title {

  color: #fff;
  margin-bottom: 0;
}

.fancy-card.green .additional .more-info .card-title {

  color: #224C36;
}

.fancy-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.fancy-card.green .additional .coords {
  color: #325C46;
}

.fancy-card .additional .coords span + span {
  float: right;
}

.fancy-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.fancy-card.green .additional .stats {
  color: #325C46;
}

.fancy-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.fancy-card .additional .stats i {
  display: block;
}

.fancy-card .additional .stats div.title {
  font-size: 0.65rem;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.fancy-card .additional .stats div.value {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.fancy-card .additional .stats div.value.infinity {
  font-size: 10rem;
}

.fancy-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.fancy-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}